.phoneblock {
    display: flex;
}


.phoneRegister {

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}


.country-code {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 15px;
}
label {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-bottom: 11px;
}
input {
    height: 58px;
    border-radius: 10px;
    background-color: #E8EAEF;
    padding-left: 15px;
    width: 100%;
}

input:focus {
    outline: 2px solid #1578DA;
}

.textInput {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 50px;
}

.country-code:focus {
        outline: 2px solid #1578DA;

}

.invalid-field {
    outline: 2px solid red;
}

li {
    color: red;
}