 <svg  viewBox="-31.25 -31.25 312.5 312.5" version="1.1" xmlns="http://www.w3.org/2000/svg"
    style="transform:rotate(-90deg)">
    <circle r="115" cx="125" cy="125" fill="transparent" stroke="#e0e0e0" stroke-width="19" stroke-dasharray="722.2px"
        stroke-dashoffset="0"></circle>
    <circle r="115" cx="125" cy="125" stroke="#2375d6" stroke-width="33" stroke-linecap="round"
        stroke-dashoffset="152px" fill="transparent" stroke-dasharray="722.2px"></circle>
    <text x="60px" y="148px" fill="#2375d6" font-size="70px" font-weight="bold"
        style="transform:rotate(90deg) translate(0px, -246px)">{{progressValue}}%</text>
</svg>


<!--<div  style="margin-top:10%;">
    <circle-progress [percent]="70" [space]="-10" [radius]="100" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
        [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
        [animationDuration]="1000">fef</circle-progress>
</div>-->