<form class="form-section-1-container" (ngSubmit)="onNext()" [formGroup]="checkoutForm">
    <p class="form-section-title">Basic Informations</p>

    <div class="form-row">



        <app-text-input-field (valueChange)="handleFirstName($event)" [label]="'First Name'" [placeHolder]="'Enter your first name'"></app-text-input-field>
        <app-text-input-field (valueChange)="handleLastName($event)" [label]="'Last Name'" [placeHolder]="'Enter your last name'"></app-text-input-field>



    </div>



    <div class="form-row">


        <app-text-input-field (valueChange)="handleAge($event)" [label]="'Age'" [placeHolder]="'Enter your age'"></app-text-input-field>
        <app-radio-button-choice label="Gender" option1="Male" option2="Female" defaultValue="Female" (valueChange)="handleGender($event)"></app-radio-button-choice>


    </div>

    <div class="form-row">



        <app-phone-number-field (valueChange)="handleNumber($event)"></app-phone-number-field>

            <app-choice-input-field label="Marital Status" (valueChange)="handleMaritalStatus($event)"
                [options]="['Marrié', 'Célibataire']" defaultValue="Marrié"></app-choice-input-field>

    </div>

    <div class="form-row">


        
        <app-text-input-field (valueChange)="handleEmail($event)" [label]="'Email'" [placeHolder]="'Enter your email'"></app-text-input-field>    
        <app-text-input-field (valueChange)="handleCIN($event)" [label]="'CIN'" [placeHolder]="'Enter your cin'"></app-text-input-field>

    </div>
</form>