<form class="form-section-1-container" (ngSubmit)="onNext()" [formGroup]="checkoutForm">
    <p class="form-section-title">Basic Informations</p>

    <div class="form-row">



        <app-text-input-field (inputClicked)="onFirstNameInputClicked()" [errorList]="firstNameErrors" [ngClassInput]="{'invalid-field': formSubmitted && checkoutForm.get('firstName')?.invalid && !firstNameInputClicked}" (valueChange)="handleFirstName($event)" [label]="'First Name'" [placeHolder]="firstName"></app-text-input-field>
        <app-text-input-field (inputClicked)="onLastNameInputClicked()" [errorList]="lastNameErrors" [ngClassInput]="{'invalid-field': formSubmitted && checkoutForm.get('lastName')?.invalid && !lastNameInputClicked}" (valueChange)="handleLastName($event)" [label]="'Last Name'" [placeHolder]="lastName"></app-text-input-field>



    </div>



    <div class="form-row">
        <app-text-input-field (inputClicked)="onAgeInputClicked()" [errorList]="ageErrors" [ngClassInput]="{'invalid-field': formSubmitted && checkoutForm.get('firstName')?.invalid && !ageInputClicked}" (valueChange)="handleAge($event)" [label]="'Age'" [placeHolder]="age"></app-text-input-field>
        <app-radio-button-choice label="Gender" option1="Male" option2="Female" defaultValue="Female" (valueChange)="handleGender($event)"></app-radio-button-choice>
    </div>

    <div class="form-row">

        <app-phone-number-field (inputClicked)="onPhoneNumberInputClicked()" [errorList]="phoneNumberErrors" [ngClassInput]="{'invalid-field': formSubmitted && checkoutForm.get('phoneNumber')?.invalid && !phoneNumberInputClicked}" (valueChange)="handleNumber($event)" (selectChange)="handleCountryCode($event)" [placeHolder]="phoneNumber"></app-phone-number-field>
        <app-choice-input-field label="Marital Status" (valueChange)="handleMaritalStatus($event)"
                [options]="['Marrié', 'Célibataire']" defaultValue="Marrié"></app-choice-input-field>

    </div>
    <div class="form-row">
        <app-text-input-field (inputClicked)="onEmailInputClicked()" [errorList]="emailErrors" [ngClassInput]="{'invalid-field': formSubmitted && checkoutForm.get('email')?.invalid && !emailInputClicked}" (valueChange)="handleEmail($event)" [label]="'Email'" [placeHolder]="''"></app-text-input-field>    
        <app-text-input-field (inputClicked)="onCINInputClicked()" [errorList]="cinErrors" [ngClassInput]="{'invalid-field': formSubmitted && checkoutForm.get('cin')?.invalid && !cinInputClicked}" (valueChange)="handleCIN($event)" [label]="'CIN'" [placeHolder]="cin"></app-text-input-field>
    </div>
</form>