<div class="form-section-1-container">


    <p class="form-section-title">Basic Informations</p>




    <div class="form-row">

        <div class="textInput">
            <label for="firstName">First name <span class="red-highlight">*</span></label>
            <input type="text" id="firstName" name="firstName" required>
        </div>
        <div class="textInput">
            <label for="lastName">Last name <span class="red-highlight">*</span></label>
            <input type="text" id="lastName" name="lastName" required>
        </div>

    </div>


    <div class="form-row">





    
        <div class="textInput">
            <label for="firstName">Birthday <span class="red-highlight">*</span></label>
            <input type="text" id="firstName" name="firstName" required>
        </div>




        <div class="textInput">
            <label for="lastName">Gender <span class="red-highlight">*</span></label>
            <div class="radio-buttons-container">

                <div class="left-radio">
                    <input type="radio" id="male" name="gender" value="male">
                    <label class="radio-text" for="male">Male</label>
                </div>
                

                <div class="right-radio">
                    <input type="radio" id="female" name="gender" value="female">
                    <label class="radio-text" for="female">Female</label>

                </div>
                
            </div>
        </div>
    </div>




    <div class="form-row">
    
        <div class="textInput">
            <label for="phoneNumber">Phone Number <span class="red-highlight">*</span></label>
            <div class="phoneblock">
                <select class="country-code" id="countryCode" name="countryCode">
                <option value="+1">🇺🇸 +1</option>
                <option value="+212" selected>🇲🇦 +212</option>
                <option value="+33">🇫🇷 +33</option>
                <option value="+44">🇬🇧 +44</option>
                <option value="+91">🇮🇳 +91</option>
                </select>
                <input class="phoneRegister" type="text" id="phoneNumber" name="phoneNumber" required>
            </div>
        </div>
        <div class="textInput">
            <label for="cin">Marital Status <span class="red-highlight">*</span></label>
            <input type="text" id="cin" name="cin" required>
        </div>
    
    </div>







    <div class="form-row">
    
        <div class="textInput">
            <label for="email">Email <span class="red-highlight">*</span></label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="textInput">
            <label for="cin">CIN <span class="red-highlight">*</span></label>
            <input type="text" id="cin" name="cin" required>
        </div>
    
    </div>

    <div class="form-row">
    
        <div class="textInput">
                        <label for="phoneNumber">Residential Area <span class="red-highlight">*</span></label>
                        <div class="choice-block">
                            <select class="country-code" id="countryCode" name="countryCode">
                                <option value="Rural">Rural</option>
                                <option value="Urban" selected>Urban</option>
                            </select>
                            </div>
        </div>
        <div class="textInput">
                        <label for="phoneNumber">Smoking Status<span class="red-highlight">*</span></label>
                        <div class="choice-block">
                            <select class="country-code" id="countryCode" name="countryCode">
                                <option value="Never">Never</option>
                                <option value="Formerly smoked" selected>Formerly smoked</option>
                                <option value="Formerly smoked">smokes</option>
                                <option value="Formerly smoked">unknown</option>
                            </select>
                            </div>
        </div>

        <div class="textInput">
                    <label for="phoneNumber">Alcohol Status<span class="red-highlight">*</span></label>
                    <div class="choice-block">
                        <select class="country-code" id="countryCode" name="countryCode">
                            <option value="Yes">Yes</option>
                            <option value="No" selected>No</option>
                           
                        </select>
                        </div>
        </div>
    </div>
    <div class="button-container">
        <button class="btn1">Back</button>
        <button class="btn2">Next</button>
    </div>
    
    
</div>