<div class ="lang">
<ul class="languages-list">
    <li (click)="activateEnglish()"><span class="language">EN</span>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
    <li (click)="activateFrench()"><span class="language">FR</span>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
    <li (click)="activateArabic()"><span class="language">AR</span></li>
</ul></div>
<div class="bare">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="navbar">
        <div class="logo">
            <img src="..\..\assets\images\logo.png" alt="logo"/>
        </div>
        <div class="right">
            <!--<img class="active" src="..\..\assets\Svgs\profile.svg" (click)="navigate()" alt="vector"/> -->
            <img class="active" src="..\..\assets\Svgs\home.svg" routerLink ="/desktop" alt="home"/>
        </div>
    </div>
</div>
<div [dir]="direction">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid" >
            <div class="left" [dir]="direction">
                <h2  [dir]="direction">{{getContent('patients') }}</h2>
            </div>
            <div class="right">
                <form class="d-flex">
                    <div class="search-bar" [dir]="direction">
                        <img class="active-search" src="..\..\assets\Svgs\search.svg" alt="search" />
                        <input class="form-control me-4" [(ngModel)]="searchQuery" name="searchQuery" type="search" placeholder="{{getContent('searchPatient') }}"  aria-label="Search" />
                    
                    <input class="form-control me-4" [(ngModel)]="searchDate" name="searchDate" type="date" placeholder="Search by date" aria-label="Search by date" />
                    <button class="btn btn-outline-success" [dir]="direction" type="search" (click)="searchPatients()" > {{getContent('search') }}</button>
                    
                    <button class="btn btn-outline-success" [dir]="direction" type="submit" routerLink ="/ai">{{getContent('add') }}</button>
                </div>
                </form>
            </div>
        </div>
    </nav>
</div>
<table id="personalInfoTable" [dir]="direction">
    <thead [dir]="direction">
        <tr [dir]="direction" >
            <th [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'">{{getContent('firstName') }}</th>
            <th [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'">{{getContent('lastName') }}</th>
            <th [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'">{{getContent('cin') }}</th>
            <th [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'">{{getContent('age') }}</th>
            <th [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'">{{getContent('phoneNumber') }}</th>
            <th [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'">{{getContent('action') }}</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        <tr *ngFor="let person of currentSurveys" (click)="selectPerson(person, $event)" [class.selected]="person === selectedPerson">
            <td>{{ person.lastName }}</td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.cin }}</td>
            <td>{{ person.dateOfBirth }}</td>
            <td>{{ person.phoneNumber }}</td>
            <td>
                <!--<img class="actp" src="..\..\assets\Svgs\edit.svg" (click)="selecteditPerson(person.id)"  alt="edit" /> -->

                <img class="actm" src="..\..\assets\Svgs\delete.svg" (click)="deletePatient(person.id)" alt="delete" />
               <button class="btn btn-outline-success" type="submit" (click)="displayClinicalInfo(person)"> {{getContent('detail') }} </button>
            </td>
        </tr>

    
                    
                    
       
        
                
                
    </tbody>
</table>



<div class="pagination-controls">
    <button class="pagination-button" (click)="previousPage()" [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'">{{getContent('previous') }}</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button class="pagination-button" (click)="nextPage()" [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'">{{getContent('next') }}</button>
</div>


 <!-- Survey Data Container -->
 <div  *ngIf="selectedSurvey" [dir]="direction">
    <div class="survey-container"  *ngFor="let selectedSurvey of surveys" [dir]="direction">
        
    <!-- First Name -->
    <div class="survey-item" [dir]="direction">
        <div class="survey-header" [dir]="direction">{{getContent('dateAnalyse') }}</div>
        <div class="survey-content">
            {{ selectedSurvey.creationDate.split('T')[0] }}
        </div>
        <img class="actp" src="..\..\assets\Svgs\edit.svg" (click)="selecteditPerson(selectedSurvey)"  alt="edit" />
    </div>
    <div class="survey-item">
        <div class="survey-header" style="color: #1578DA;" [dir]="direction">{{getContent('result') }}</div>
        <div class="survey-content">{{ selectedSurvey.result }} %</div>
    </div>
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('firstName') }}</div>
        <div class="survey-content">{{ selectedSurvey.firstName }}</div>
    </div>
    <!-- Last Name -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('lastName') }}</div>
        <div class="survey-content">{{ selectedSurvey.lastName }}</div>
    </div>
    <!-- Age -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('age') }}</div>
        <div class="survey-content">{{ selectedSurvey.age }}</div>
    </div>
    <!-- Gender -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('gender') }}</div>
        <div class="survey-content">{{ selectedSurvey.gender }}</div>
    </div>
   
    <!-- Phone Number -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('phoneNumber') }}</div>
        <div class="survey-content">{{ selectedSurvey.phoneNumber }}</div>
    </div>
    <!-- Marital Status -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('maritalStatus') }}</div>
        <div class="survey-content">{{ selectedSurvey.maritalStatus }}</div>
    </div>
    <!-- Email -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('email') }}</div>
        <div class="survey-content">{{ selectedSurvey.email }}</div>
    </div>
    <!-- CIN -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('cin') }}</div>
        <div class="survey-content">{{ selectedSurvey.cin }}</div>
    </div>

    
    <!-- Weight -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('weight') }}</div>
        <div class="survey-content">{{ selectedSurvey.weight }} Kg</div>
    </div>
    <!-- Height -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('height') }}</div>
        <div class="survey-content">{{ selectedSurvey.height }} m</div>
    </div>
    <!-- BMI -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('bmi') }}</div>
        <div class="survey-content">{{ selectedSurvey.bmi }} kg/m2</div>
    </div>
    <!-- Total Cholesterol -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('total') }}</div>
        <div class="survey-content">{{ selectedSurvey.totalCholesterol }} g/L</div>
    </div>
    <!-- LDL Cholesterol -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('ldl') }}</div>
        <div class="survey-content">{{ selectedSurvey.ldlCholesterol }} g/L</div>
    </div>
    <!-- HDL Cholesterol -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('hdl') }}</div>
        <div class="survey-content">{{ selectedSurvey.hdlCholesterol }} g/L</div>
    </div>
    <!-- Glucose Level -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">N{{getContent('glucose') }}</div>
        <div class="survey-content">{{ selectedSurvey.glucoseLevel }} mg/dL</div>
    </div>
    <!-- Heart Disease -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('heartDisease') }}</div>
        <div class="survey-content">{{ selectedSurvey.heartDisease }}</div>
    </div>
    <!-- Diabetes -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('diabetes') }}</div>
        <div class="survey-content">{{ selectedSurvey.diabetes }}</div>
    </div>
    <!-- Hypertension -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('hypertension') }}</div>
        <div class="survey-content">{{ selectedSurvey.hypertension }}</div>
    </div>
    
    <!-- History of TIAs -->
    <!--
    <div class="survey-item">
        <div class="survey-header">Antécédents d'Accidents Ischémiques Transitoires (AIT)</div>
        <div class="survey-content">{{ selectedSurvey.historyOfTIAs }}</div>
    </div>
-->
    
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('heredityOrGenetics') }}</div>
        <div class="survey-content">{{ selectedSurvey.heredityOrGenetics }}</div>
    </div>
    <!-- Residential Area -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('residentialArea') }}</div>
        <div class="survey-content">{{ selectedSurvey.residentialArea }}</div>
    </div>
    <!-- Smoking Status -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('smokingStatus') }}</div>
        <div class="survey-content">{{ selectedSurvey.smokingStatus }}</div>
    </div>
    <!-- Alcohol Status -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('alcoholStatus') }}</div>
        <div class="survey-content">{{ selectedSurvey.alcoholStatus }}</div>
    </div>
    <!-- Work Type -->
    <div class="survey-item">
        <div class="survey-header" [dir]="direction">{{getContent('workType') }}</div>
        <div class="survey-content">{{ selectedSurvey.workType }}</div>
    </div>
</div>
</div>





  
