.health-container-title {
    font-size: 32px;
    font-weight: 500;
}
.form-section-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0;
    color: #000;
    margin-bottom: 20px;
}

.health-container {
    background-color: rgba(217, 217, 217, 0.10);
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.form-section-2-container {
    padding-left: 7%;
        padding-right: 7%;
    
}

.languageButton {
    background-color: red;
}

.languageButton:hover {
    opacity: 0.9;
}

.languageButton:active{
    opacity: 0.8;
}


.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




