<div class="form-section-2-container">
    <p class="form-section-title">Health Informations</p>
    <div class="health-container">
        <p class="health-container-title">Basic health</p>
        <div class="form-row">
            <div class="textInput">
                <label for="weight">Weight <span class="red-highlight">*</span></label>
                <div class="input-spinner">
                    <input type="number" id="weight"  name="weight" required>

                </div>
            </div>

            <div class="textInput">
                <label for="weight">Height <span class="red-highlight">*</span></label>
                <div class="input-spinner">
                    <input type="number" id="height" name="weight" required>
            
                </div>
            </div>

            <div class="textInput">
                <label for="weight">BMI <span class="red-highlight">*</span></label>
                <div class="input-spinner">
                    <input type="number" id="bmi" name="weight" required>
            
                </div>
            </div>
        </div>


    </div>


    <div class="health-container">
    
        <p class="health-container-title">Cholestrol & Glucose Levels</p>
    
    
        <div class="form-row">
            <div class="textInput">
                <label for="weight">Total Level (g/l)<span class="red-highlight">*</span></label>
                <div class="input-spinner">
                    <input class="special-input" type="number" id="weight" name="weight" required>
    
                </div>
            </div>

            <div class="textInput">
                <label for="weight">LDL Level (g/l)<span class="red-highlight">*</span></label>
                <div class="input-spinner">
                    <input class="special-input" type="number" id="weight" name="weight" required>
            
                </div>
            </div>
    
            <div class="textInput">
                <label for="weight">HDL Level (g/l)<span class="red-highlight">*</span></label>
                <div class="input-spinner">
                    <input class="special-input" type="number" id="height" name="weight" required>
    
                </div>
            </div>
    
            <div class="textInput">
                <label for="weight">Glucose Level (g/l)<span class="red-highlight">*</span></label>
                <div class="input-spinner">
                    <input class="special-input" type="number" id="bmi" name="weight" required>
    
                </div>
            </div>
        </div>
    
    
    </div>



    <div class="health-container">
    
        <p class="health-container-title">Additional Health Information</p>



        <div class="form-row">

            <div class="textInput">
                <label for="lastName">Heart disease <span class="red-highlight">*</span></label>
                <div class="radio-buttons-container">
            
                    <div class="left-radio">
                        <input type="radio" id="male" name="gender" value="male">
                        <label class="radio-text" for="male">Male</label>
                    </div>
            
            
                    <div class="right-radio">
                        <input type="radio" id="female" name="gender" value="female">
                        <label class="radio-text" for="female">Female</label>
            
                    </div>
            
                </div>
            </div>
            <div class="textInput">
                <label for="lastName">Diabetes <span class="red-highlight">*</span></label>
                <div class="radio-buttons-container">
            
                    <div class="left-radio">
                        <input type="radio" id="male" name="gender" value="male">
                        <label class="radio-text" for="male">Male</label>
                    </div>
            
            
                    <div class="right-radio">
                        <input type="radio" id="female" name="gender" value="female">
                        <label class="radio-text" for="female">Female</label>
            
                    </div>
            
                </div>
            </div>
            <div class="textInput">
                <label for="lastName">Hypertension <span class="red-highlight">*</span></label>
                <div class="radio-buttons-container">
            
                    <div class="left-radio">
                        <input type="radio" id="male" name="gender" value="male">
                        <label class="radio-text" for="male">Male</label>
                    </div>
            
            
                    <div class="right-radio">
                        <input type="radio" id="female" name="gender" value="female">
                        <label class="radio-text" for="female">Female</label>
            
                    </div>
            
                </div>
            </div>


        </div>




    
    
    </div>





</div>