<form class="form-section-2-container" (ngSubmit)="onNext()" [formGroup]="checkoutForm">
    <p class="form-section-title">Health Informations</p>

    <div class="health-container">
        <p class="health-container-title">Basic health</p>
        <div class="form-row">


            <app-number-input-field (inputClicked)="onWeightInputClicked()" [errorList]="weightErrors" [ngClassInput]="{'invalid-field': formSubmitted && checkoutForm.get('weight')?.invalid && !weightInputClicked}" label="Weight" (valueChange)="handleWeight($event)" [value]="weightValeur"></app-number-input-field>
            <app-number-input-field (inputClicked)="onHeightInputClicked()" [errorList]="heightErrors" [ngClassInput]="{'invalid-field': formSubmitted && checkoutForm.get('height')?.invalid && !heightInputClicked}" label="Height" (valueChange)="handleHeight($event)"  [value]="heightValeur"></app-number-input-field>
            <app-number-input-field (inputClicked)="onBmiInputClicked()" [errorList]="bmiErrors" [ngClassInput]="{'invalid-field': formSubmitted && checkoutForm.get('bmi')?.invalid && !bmiInputClicked}" label="BMI" (valueChange)="handleBMI($event)" [value]="bmiValeur"></app-number-input-field>

        </div>
    </div>

    <div class="health-container">
        <p class="health-container-title">Cholesterol & Glucose Levels</p>
        <div class="form-row">
            <app-number-input-field (inputClicked)="onTotalCholesterolInputClicked()" [errorList]="totalCholesterolErrors" [ngClassInput]="{'invalid-field': formSubmitted && checkoutForm.get('totalCholesterol')?.invalid && !totalCholesterolInputClicked}"  label="Total Level (g/l)" (valueChange)="handleTotalCholesterol($event)"></app-number-input-field>
            <app-number-input-field (inputClicked)="onLdlCholesterolInputClicked()" [errorList]="ldlCholesterolErrors" [ngClassInput]="{'invalid-field': formSubmitted && checkoutForm.get('ldlCholesterol')?.invalid && !ldlCholesterolInputClicked}" label="LDL Level (g/l)" (valueChange)="handleLDLCholesterol($event)"></app-number-input-field>
            <app-number-input-field (inputClicked)="onHdlCholesterolInputClicked()" [errorList]="hdlCholesterolErrors" [ngClassInput]="{'invalid-field': formSubmitted && checkoutForm.get('hdlCholesterol')?.invalid && !hdlCholesterolInputClicked}" label="HDL Level (g/l)" (valueChange)="handleHDLCholesterol($event)"></app-number-input-field>
            <app-number-input-field (inputClicked)="onGlucoseLevelInputClicked()" [errorList]="glucoseLevelErrors" [ngClassInput]="{'invalid-field': formSubmitted && checkoutForm.get('glucoseLevel')?.invalid && !glucoseLevelInputClicked}" label="Glucose Level (g/l)" (valueChange)="handleGlucoseLevel($event)"></app-number-input-field>
        </div>
    </div>

    <div class="health-container">


        <p class="health-container-title">Additional Health Information</p>
        <div class="form-row">


            <app-radio-button-choice label="Heart disease" option1="Yes" option2="No" defaultValue="No" (valueChange)="handleHeartDisease($event)"></app-radio-button-choice>
            <app-radio-button-choice label="Diabetes" option1="Yes" option2="No" defaultValue="No" (valueChange)="handleDiabetes($event)"></app-radio-button-choice>
            <app-radio-button-choice label="Hypertension" option1="Yes" option2="No" defaultValue="No"  (valueChange)="handleHypertension($event)"></app-radio-button-choice>



        </div>
    </div>
</form>