<mat-horizontal-stepper #stepper class="my-stepper-component">
        <mat-step label="1">
            <app-basic-information #basicInformationComponent [firstName]="selectedPerson.firstName"
      [lastName]="selectedPerson.lastName"
      [age]="selectedPerson.age"
      [phoneNumber]="selectedPerson.phoneNumber"
      [cin]="selectedPerson.cin"></app-basic-information>
        </mat-step>
        <mat-step label="2">
            <app-health-information #healthInformationComponent></app-health-information>
        </mat-step>
        <mat-step label="3">
            <app-additional-information #additionalInformationComponent></app-additional-information>
        </mat-step>
</mat-horizontal-stepper>


<div class="buttons-container">
    <button class="btn1" (click)="stepper.previous()">Back</button>
    <button class="btn2" (click)="onNext()">Next</button>
</div>