<mat-horizontal-stepper>
    <mat-step label="">
        <app-basic-information></app-basic-information>
    </mat-step>
    <mat-step label="">
        
<app-health-information></app-health-information>

    </mat-step>
    <mat-step label="">
        <app-additional-information></app-additional-information>
    </mat-step>
</mat-horizontal-stepper>

<p-checkbox  [binary]="true" inputId="binary"></p-checkbox>

<div class="buttons-container">
    <button class="btn1">Back</button>
    <button class="btn2">Next</button>
</div>