.languages-list {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    justify-content: end;
    margin-right: 50px;
    
}

li {
    font-size: 11px;
    cursor: pointer;
}
.language {
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.language:hover{
    color: #4874ED;
}


button {
    font-size: 20;
    font-weight: 400;
    border-radius: 10px;
    height: 67px;
    width: 264px;
    border: 1px solid #4874ED;
}
.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    
}
.btn1 {
    color: #4874ED;
}
.btn2 {
    background-color: #4874ED;
    color: #fff;
    margin-left: 50px;
}
.btn2:hover {
   opacity: 0.9;
}
.btn2:active {
    opacity: 0.8;
}
.btn1:hover {
        border: 2px solid #4874ED;
}









:host {
    ::ng-deep .mat-horizontal-stepper-header-container {
        height: 100px;
        padding-right: 30%;
        padding-left: 30%;
        width: 100%;
    }
    ::ng-deep .mat-step-label {
        font-weight: bold;
        color: #fff;
    }
    ::ng-deep .mat-stepper-horizontal-line {
        height: 10px;
        background-color: #4874ED;
    }
    ::ng-deep .mat-horizontal-stepper-header {
        background-color: #4874ED;
        width: 5px;
        height: 40px;
        border-radius: 35px;
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
    }
    ::ng-deep .mat-step-icon {
        background-color: #4874ED;
        color: #fff;
        display: none;
    }
    ::ng-deep .mat-horizontal-stepper-header:hover {
            background-color: #4874ED !important;
    }
    ::ng-deep .mat-horizontal-stepper-header.mat-step-header-selected {
            background-color: #4874ED !important;
          }
    ::ng-deep .mat-horizontal-stepper-header.mat-step-header-selected:hover {
            background-color: #4874ED !important;
        }
}
