<form class="form-section-2-container" (ngSubmit)="onNext()" [formGroup]="checkoutForm">
    <p class="form-section-title">Additional Information</p>

    <div class="health-container">

        
        <p class="health-container-title">Hereditary or Genetics</p>

        <div class="form-row">



        <app-radio-button-choice label="History of TIAs" option1="Yes" option2="No"></app-radio-button-choice>
        <app-radio-button-choice label="Heredity or Genetics" option1="Yes" option2="No"></app-radio-button-choice>




        </div>
    </div>

    <div class="health-container">


        <p class="health-container-title">More</p>

        <div class="form-row">



            <app-choice-input-field label="Residential Area"></app-choice-input-field>
            <app-choice-input-field label="Smoking Status"></app-choice-input-field>
            <app-choice-input-field label="Alcohol Status"></app-choice-input-field>
            <app-choice-input-field label="Work type"></app-choice-input-field>

        
        
        
        
        </div>
    </div>
</form>