<form class="form-section-2-container" (ngSubmit)="onNext()" [formGroup]="checkoutForm">
    <p [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'" class="form-section-title">{{getContent('form_3_title')}}</p>

    <div [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'" class="health-container">


        <p [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'" class="health-container-title">{{getContent('section_4_title')}}</p>

        <div class="form-row">




        <app-radio-button-choice [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'" label="{{getContent('historyTIA')}}" option1="{{getContent('yes')}}" option2="{{getContent('no')}}" defaultValue="{{getContent('no')}}"  (valueChange)="handleHistoryOfTIAs($event)"></app-radio-button-choice>
        <app-radio-button-choice [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'" label="{{getContent('heredityOrGenetics')}}" option1="{{getContent('yes')}}" option2="{{getContent('no')}}" defaultValue="{{getContent('no')}}"  (valueChange)="handleHeredityOrGenetics($event)"></app-radio-button-choice>




        </div>
    </div>

    <div [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'" class="health-container">


        <p [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'" class="health-container-title">{{getContent('section_5_title')}}</p>

        <div class="form-row-special">



            <app-choice-input-field [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'" label="{{getContent('residentialArea')}}" (valueChange)="handleResidentialArea($event)" [options]="residenceTypeOptions" defaultValue="{{getContent('urban')}}"></app-choice-input-field>
            <app-choice-input-field [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'" label="{{getContent('smokingStatus')}}" (valueChange)="handleSmokingStatus($event)" [options]="smokingStatusOptions" defaultValue="{{getContent('smoke')}}"></app-choice-input-field>
            <app-choice-input-field [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'" label="{{getContent('alcoholStatus')}}" (valueChange)="handleAlcoholStatus($event)" [options]="alcoholStatusOptions" defaultValue="{{getContent('true')}}"></app-choice-input-field>
            <app-choice-input-field [dir]="selectedLanguage === 'ar' ? 'rtl' : 'ltr'" label="{{getContent('workType')}}" (valueChange)="handleWorkType($event)" [options]="workTypeOptions" defaultValue="{{getContent('privateSector')}}"></app-choice-input-field>
        </div>
    </div>
</form>