<div class="textInput">
    <label for="residentialArea">{{ label }}<span class="red-highlight">*</span></label>
        <select class="country-code" id="residentialArea" formControlName="residentialArea"
            (change)="onInputChange($event)">
            <option *ngFor="let option of optionsList" [value]="option.value" [selected]="option.value === defaultValue">{{option.name}}</option>
        </select>
</div>




<!--<mat-form-field class="textInput">
    <mat-label for="residentialArea">{{ label }}<span class="red-highlight">*</span></mat-label>
    <mat-select id="residentialArea" formControlName="residentialArea" (selectionChange)="onInputChange($event)">
        <mat-option *ngFor="let option of options" [value]="option">
            {{ option }}
        </mat-option>
    </mat-select>
</mat-form-field>-->