.textInput {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
label {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-bottom: 11px;
}

.country-code {
    height: 58px;
    border-radius: 10px;
    padding-left: 15px;
    margin-right: 50px;

}

.country-code:focus {
        outline: 2px solid #1578DA;
}

.red-highlight {
    color: #D63928;
}

.choice-block {

    border-radius: 10px;
    background-color: #E8EAEF;
    width: 250px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}
